.page-header
  .h1
    #{@project.proj_name}: Manage Members
%ol.breadcrumb
  %li
    %a{:href => projects_path}Projects
  %li
    %a{:href => project_path(@project)}=@project.proj_name
  %li
    Memberships
-if current_user.owner?(@project)
  =render 'shared/errors', object: @membership
  =render 'form'

  %table.col-sm-4.table-condensed
    - @project.memberships.where(project_id: @project.id).each do |member|
      =form_for [@project, member] do |f|
        %tr
          %td= link_to member.user.full_name, user_path(member.user)
          %td= f.select :role, ["member", "owner"], {}, class: "dropdown-toggle form-control"
          %td= f.submit "Update", class: "btn btn-primary"
          %td= link_to "", project_membership_path(@project, member), method: :delete, :data => { :confirm => 'You\'re about to remove this user' }, class: "glyphicon glyphicon-remove"
-else
  %table.col-sm-4.table-condensed
    - @project.memberships.where(project_id: @project.id).each do |member|
      %tr
        %td= link_to member.user.full_name, user_path(member.user)
        %td= member.role
        -if current_user.id == member.user.id
          %td= link_to "", project_membership_path(@project, member), method: :delete, :data => { :confirm => 'You\'re about to remove yourself from this project' }, class: "glyphicon glyphicon-remove"
