= form_for(@task, html:{class: "form-horizontal"}) do |f|
  - if @task.errors.any?
    #error_explanation
      %h2= "#{pluralize(@task.errors.count, "error")} prohibited this task from being saved:"
      %ul
        - @task.errors.full_messages.each do |msg|
          %li= msg
  %div.form-group
    = f.label :description, class: "col-sm-1 control-label"
    %div.col-sm-6
      = f.text_field :description, class: "form-control"
  .actions.form-group
    %div.col-sm-offset-1.col-sm-10
      = f.submit class:"btn btn-primary"
