.container
  .h1
    Tasks
    = link_to 'New Task', new_task_path, class: "btn btn-info pull-right"
.container

  .pull-right
    = link_to_unless params[:show_complete], 'All Tasks', tasks_path(show_complete: "show complete")
    |
    = link_to_if params[:show_complete], 'Incomplete Tasks', tasks_path
  %table.table
    %tr
      %th
        %h5
          =link_to 'Description', params.merge(sort_by: "description")
      %th
        %h5.task
          =link_to 'Complete?', params.merge(sort_by: "complete")
      %th
        %h5.task
          =link_to 'Due Date', params.merge(sort_by: "due_date")
      %th

    - @tasks.each do |task|
      %tr{class: ("danger" if task.isdue == true)}
        %td= task.description
        -if task.complete == true
          %td{style: "text-align: center;"}
            .btn.btn-md.glyphicon.glyphicon-check
        -if task.complete == false
          %td{style: "text-align: center;"}
            .btn.btn-md.glyphicon.glyphicon-unchecked

        %td{style: "text-align: center;"}
          - if task.due_date
            = task.due_date.strftime("%m/%d/%Y")
        %td
          .btn-toolbar.pull-right
            .btn-group
              = link_to 'Show', task, class: "btn btn-success pull-right"

            .btn-group
              = link_to 'Edit', edit_task_path(task), class: "btn btn-info pull-right"

            .btn-group
              = link_to 'Destroy', task, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "btn btn-warning pull-right"
  %hr
  =paginate @tasks
  %br
