.container
  %h1 Tasks
  = link_to 'New Task', new_task_path, class: "btn btn-info pull-right"
.container
  %table.table
    %tr
      %th
        %h5 Description
      %th
      %th
        %h5 Due Date
      %th

    - @tasks.each do |task|
      %tr
        %td= task.description
        %td
        %td= task.due_date
        %td
          .btn-toolbar.pull-right
            .btn-group
              = link_to 'Show', task, class: "btn btn-success pull-right"

            .btn-group
              = link_to 'Edit', edit_task_path(task), class: "btn btn-info pull-right"

            .btn-group
              = link_to 'Destroy', task, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "btn btn-warning pull-right"

  %hr
  %br

  %footer{style: "padding-bottom:25px;"}
    %hr.style-one
    %p
      = link_to_unless_current("about", about_path)
      |
      = link_to_unless_current("terms", terms_path)
      |
      = link_to_unless_current("faq", faq_path)
      |
      = link_to_unless_current("tasks", tasks_path)
