.page-header
  .pull-right
    = link_to_unless params[:show_complete], 'All Tasks', project_tasks_path(show_complete: "show complete")
    |
    = link_to_if params[:show_complete], 'Incomplete Tasks', project_tasks_path
    = link_to 'New Task', new_project_task_path(@project), class: "btn btn-info"
  .h1 Tasks for "#{@project.proj_name}"
%ol.breadcrumb
  %li
    %a{:href => projects_path}Projects
  %li
    %a{:href => project_path(@project)}=@project.proj_name
  %li.active
    Tasks

=paginate @tasks
%table.table
  %tr
    %th
      %h5
        =link_to 'Description', params.merge(sort_by: "description")
    %th
      %h5.task
        =link_to 'Complete?', params.merge(sort_by: "complete")
    %th
      %h5.task
        =link_to 'Due Date', params.merge(sort_by: "due_date")
    %th
    %th

  - @tasks.each do |task|
    %tr{class: ("danger" if task.isdue == true && task.complete == false)}
      %td
        =link_to "#{task.description}", project_task_path(@project, task)
        = link_to"#{task.comments.count}", project_task_path(@project, task), class: "badge"
      %td{style: "text-align: center;"}
        - taskparam = {show_complete: params[:show_complete], sort_by: params[:sort_by], page: params[:page]}
        -if task.complete == true
          =link_to toggle_project_task_path(@project, task, taskparam), method: :patch do
            .btn.btn-md.glyphicon.glyphicon-check
        -if task.complete == false
          =link_to toggle_project_task_path(@project, task, taskparam), method: :patch do
            .btn.btn-md.glyphicon.glyphicon-unchecked

      %td{style: "text-align: center;"}
        - if task.due_date
          = task.due_date.strftime("%m/%d/%Y")
      %td

        = link_to 'Edit', edit_project_task_path(@project, task), class: "btn btn-info pull-right"
      %td
        = link_to '', project_task_path(@project, task), :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "glyphicon glyphicon-remove"
%hr
=paginate @tasks
%br
