.container
  .h1
    Tasks
    = link_to 'New Task', new_task_path, class: "btn btn-info pull-right"
.container
  = link_to 'All Tasks', tasks_path(show_complete: "show complete")
  |
  = link_to 'Incomplete Tasks', tasks_path
  %table.table
    %tr
      %th
        %h5 Description
      %th
        %h5 Complete?
      %th
        %h5 Due Date
      %th

    - @tasks.each do |task|
      %tr{class: ("danger" if task.isdue == true)}
        %td= task.description
        %td= task.complete
        %td
          - if task.due_date
            = task.due_date.strftime("%m/%d/%Y")
        %td
          .btn-toolbar.pull-right
            .btn-group
              = link_to 'Show', task, class: "btn btn-success pull-right"

            .btn-group
              = link_to 'Edit', edit_task_path(task), class: "btn btn-info pull-right"

            .btn-group
              = link_to 'Destroy', task, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "btn btn-warning pull-right"

            .btn-group
              .btn.btn-md.glyphicon.glyphicon-check
  %hr
  %br
