.container
  %h3 New task

  = render 'form'

  -# = link_to 'Back', tasks_path

  %footer{style: "padding-bottom:25px;"}
    %hr.style-one
    .p
      = link_to_unless_current("about", about_path)
      |
      = link_to_unless_current("terms", terms_path)
      |
      = link_to_unless_current("faq", faq_path)
      |
      = link_to_unless_current("tasks", tasks_path)
