.container
  - unless notice.nil?
    .alert.alert-success= notice
  %p
    %b Description:
    = @task.description

  = link_to 'Edit', edit_task_path(@task)
  \|
  = link_to 'Back', tasks_path

  %footer{style: "padding-bottom:25px;"}
    %hr.style-one
    .p
      = link_to_unless_current("about", about_path)
      |
      = link_to_unless_current("terms", terms_path)
      |
      = link_to_unless_current("faq", faq_path)
      |
      = link_to_unless_current("tasks", tasks_path)
