.container

  %p
    %b Description:
    = @project.task.description
  %p
    %b Due Date:
    - if @project.task.due_date
      = @project.task.due_date.strftime("%m/%d/%Y")

  %p
    %b Complete?
    = @task.complete

  = link_to 'Edit', edit_task_path(@task)
  \|
  = link_to 'Back', tasks_path
