.container
  %p#notice= notice

  %p
    %b Description:
    = @task.description

  = link_to 'Edit', edit_task_path(@task)
  \|
  = link_to 'Back', tasks_path

  %footer{style: "padding-bottom:25px;"}
    %hr.style-one
    .p
      = link_to_unless_current("About", about_path)
      |
      = link_to_unless_current("Terms", terms_path)
      |
      = link_to_unless_current("FAQ", faq_path)
      |
      = link_to_unless_current("Task", task_path)
