.h1
  = @task.description
  = link_to "Edit", edit_project_task_path(@project, @task), class: "btn btn-info pull-right"
%ol.breadcrumb
  %li
    %a{:href => projects_path}Projects
  %li
    %a{:href => project_path(@project)}=@project.proj_name
  %li
    %a{:href => project_tasks_path(@project)}Tasks
  %li.active
    Show


%p
  %b Due:
  - if @task.due_date
    = @task.due_date.strftime("%m/%d/%Y")

%p
  %b Complete:
  = @task.complete

.h3
  Comments
-if current_user
  - @task.comments.where(task_id: @task.id).each do |comment|
    %br
    .row
      .col-md-3
        =link_to comment.user.full_name, user_path(comment.user)
        .text-muted="#{time_ago_in_words(comment.created_at)} ago"
      .col-sm-6
        =comment.comment
  %br
  = form_for [@project, @task, @comment] do |f|
    .container-fluid.form-group
      =f.text_area :comment, class: "col-sm-9 form-control"
    %br
    .form-group
      =f.submit "Add Comment", class: "btn btn-primary"
    =f.hidden_field :user_id, value: current_user.id
-else
  You must be logged in to view and create comments
