.container{style: 'text-align: center;'}
  .h1{style: 'padding-top: 40px'} About
  .p Get organized and increase productivity with your team
  = image_tag('meeting.png', style: 'margin: auto; padding: 25px;')

.container
  %footer{style: "padding-bottom:25px;"}
  %hr.style-one
  .p
    = link_to_unless_current("About", about_path)
    |
    = link_to_unless_current("Terms", terms_path)
    |
    = link_to_unless_current("FAQ", faq_path)
    |
    = link_to_unless_current("Tasks", tasks_path)
