.container

  - @frequently_asked_questions.each do |asked|
    %h1= asked.questions
    %p= asked.answers

  %footer{style: "padding-bottom:25px;"}
    %hr.style-one
    .p
      = link_to_unless_current("About", about_path)
      |
      = link_to_unless_current("Terms", terms_path)
      |
      = link_to_unless_current("FAQ", faq_path)
      |
      = link_to_unless_current("Tasks", tasks_path)
