.container
  %h1 Frequently Asked Questions
.container
  %br
  %br
  - @frequently_asked_questions.each do |asked|
    %h4= asked.questions
    %p= asked.answers
    %br

  %footer{style: "padding-bottom:25px;"}
    %hr.style-one
    .p
      = link_to_unless_current("about", about_path)
      |
      = link_to_unless_current("terms", terms_path)
      |
      = link_to_unless_current("faq", faq_path)
      |
      = link_to_unless_current("tasks", tasks_path)
