
/ Main jumbotron for a primary marketing message or call to action
.container
  .jumbotron
    %h1 gCamp
    %p Your Life, Organized.
.container
  .row
    .col-md-4
      = image_tag("84pages.jpg", class: "img-responsive")
      .panel.panel-default
        .panel-heading
          %h3.panel-title Tasks
        .panel-body
          %p Grouped by projects and lists. Just the way you like 'em
    .col-md-4
      = image_tag("Keno_Gonzales.jpg", class: "img-responsive")
      .panel.panel-default
        .panel-heading
          %h3.panel-title Documents
        .panel-body
          %ul
            %li Upload
            %li Comment
            %li Revise
    .col-md-4
      = image_tag("Squarestreetart.jpg", class: "img-responsive")
      .panel.panel-default
        .panel-heading
          %h3.panel-title Comments
        .panel-body
          %ul
            %li Comment on tasks and documents
            %li Get email notification

  /quotes
  - authors_and_quotes = [ ["Walt Whitman", "Simplicity is the glory of expression."],
    ["Walt Whitman", "Be curious, not judgemental."],
    ["Tyler Durden", "It's only after we've lost everything that we're free to do anything."],
    ["Tyler Durden", "The things you own end up owning you"],
    ["Andy Warhol", "They always say time changes things, but you actually have to change them yourself."],
    ["Andy Warhol", "Art is what you can get away with."],
    ["Louis Carroll 'Alice in Wonderland'", "But I don't want to go among mad people."],
    ["Louis Carroll 'Alice in Wonderland'", "Why, sometimes I've believed as many as six impossible things before breakfast"]]

  - authors_and_quotes.sample(3).each do |author_quote|
    %p.lead= author_quote[1]
    %p= author_quote[0]



%footer
  %hr.style-one
  .p
    = link_to_unless_current("about", about_path)
    |
    = link_to_unless_current("terms", terms_path)
