
/ Main jumbotron for a primary marketing message or call to action
.container
  .jumbotron
    %h1 gCamp
    %p Your Life, Organized.
.container
  .row
    .col-md-4
      = image_tag("loser.jpg", class: "img-responsive")
      .panel.panel-default
        .panel-heading
          %h3.panel-title Tasks
        .panel-body
          %p Grouped by projects and lists. Just the way you like 'em
    .col-md-4
      = image_tag("omenpain.jpg", class: "img-responsive")
      .panel.panel-default
        .panel-heading
          %h3.panel-title Documents
        .panel-body
          %ul
            %li Upload
            %li Comment
            %li Revise
    .col-md-4
      = image_tag("jaws.jpg", class: "img-responsive")
      .panel.panel-default
        .panel-heading
          %h3.panel-title Comments
        .panel-body
          %ul
            %li Comment on tasks and documents
            %li Get email notification

  %footer
    %hr.style-one
    .p
      = link_to 'About', about_path
      |
      = link_to 'Terms', terms_path
